[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch.git
[submodule "public"]
	path = public
	url = https://github.com/sakusi4/sakusi4.github.io.git
	branch = public
